<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>rrr</title>
</head>
<body>
    <div id="app">
    	{% for i in 0..3 %}
		    <p>332131232</p>
		{% endfor %}
    </div>
</html>
</body>